<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.mapper.DiscussPostMapper">
    <sql id="selectDiscussPostColumnName">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertDiscussPostColumnName">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">
        SELECT <include refid="selectDiscussPostColumnName"/>
        FROM discuss_post
            <where>
                status != 2
                <if test="userId > 0">
                    and user_id = #{userId}
                </if>
            </where>
        ORDER BY type desc, create_time desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        SELECT COUNT(*)
        FROM discuss_post
            <where>
                status != 2
                <if test="userId > 0">
                    and user_id = #{userId}
                </if>
            </where>
    </select>

    <insert id="insertDiscussPost">
        insert into discuss_post (<include refid="insertDiscussPostColumnName"></include>)
        values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>
</mapper>